body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    /* background-color: url('background.avif'); */
     background-color: #e5e5e5; 
       background-size: cover; /* Cover the entire background */
            background-repeat: no-repeat; /* Do not repeat the background image */
            background-attachment: fixed; /* Keep the background fixed while scrolling */

}

#content {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: left;
    width: 80%; /* Width of the intro text */
    color: black; /* Text color set to black */
  font-family: Poppins, sans-serif;
    font-size: 14px;
}

table, th, td {
  border: 2px solid;
    border-collapse: collapse;
    font-family: din-6776, Arial, sans-serif;
}

table {
  width: 100%; 
    height: 30px; 
}

#topTable {
    position:fixed;
    width:100%;
    top:0px;
    font-size: 15px;
}



#leftTable {
width: calc(100vh - 56px);
    bottom: -2px;
    left: 0px;
    transform: rotate(270deg);
    position:fixed;
    transform-origin: top left;
}

#rightTable {
    width: calc(100vh - 56px);
    top: -2px;
    right: 0px;
    transform: rotate(270deg);
    position:fixed;
    transform-origin: bottom right;
    margin-bottom: 10px;
    font-size: 14px;
}

#bottomTable {
    position:fixed;
    width:100%;
    bottom:0px; 
     font-size: 14px;
}

.intro h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.intro p {
    font-size: 16px;
    line-height: 1.5;
}

#textTurn {
    transform: rotate(-270deg);
}

/* navbar hier onder */

#rechterOnderHoek {
    text-align: top left;
    position: fixed;
    right: 28px;
    bottom: 28px;
    font-family: din-6776;
    letter-spacing: 0.5px;
    width: auto;
    font-size: 14px;
}

a {
    color: black; /* Set the color of the anchor elements */
    text-decoration: none; /* Remove the underline */
}


.logo {
    width: 50vh; /* Set the width of the specific image */
    height: auto; /* Maintain aspect ratio */
    margin-top: -18vh;
}

.logoBottom   {
    width: 140px; /* Set the width of the specific image */
    height: auto; /* Maintain aspect ratio */
    opacity: 100%;
    margin: 6px;
    filter: grayscale(1);
}

.amerikaanseprojectie {
    width: 100px;
    height: auto;
}

#bold {
    font-weight: bold;
}

@media (max-width: 768px) {
  #rechterOnderHoek {
    display: none;
  }
    .klimrobot {
    display: none;
    }
    #topTable, #leftTable, #rightTable, #bottomTable {
        display: none;
    }
    .logo {
        position: fixed;
        margin-top: -80px;
        margin-bottom: 0px;
        margin-left: -20px;
        }
    .only-pc {
        display: none;
    }
} 



@media (min-width: 768px) {
    #navBarMobile {
        display: none;
    } .only-mobile
     {
        display: none;
     }
} 

@font-face {
    font-family: din-6776;
    src: url(din-6776.ttf) format('truetype'); 
}

.fallback-font {
        font-family: 'Roboto', sans-serif;
    }


.instagram {
    width: 16px;
    height: auto;
}

.menuItem {
     background-color: #c9c9c9
;
     width: 12.5vw;
}

#topTable, #leftTable, #rightTable, #bottomTable, #rechterOnderHoek {
    background-color: #e0e0e0;
}

.menuItem:hover {
    background-color: #0b5394;
    cursor: pointer;
     /* Change the background color on hover */
}

.blue {
    color: #0b5394;
}

a:hover {
    color: #0b5394; /* Change the color on hover */
}

.klimrobot {
    position: fixed;
    top:120px;
    right: 40px;
    width: 900px;
    height: auto;
}

/* Navbar mobiel */
#navBarMobile {
    text-align: top;
    top: 0px;
    position: fixed;
    font-family: din-6776;
    width: 100vw;
    font-size: 20px;
    text-align: center;
}
